body {
    width: 1020px;
    margin: 0;
    padding: 0;
  
    font-family: "Lato", "Arial", sans-serif;
    font-weight: normal;
  
    background-color: white;
}

header {
    height: 89px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
    
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(51, 49, 46);
    border-bottom: rgb(234, 103, 107) 6px solid;
}


 
.logo {
  display: flex;
  margin: auto;
  letter-spacing: -0.5px;
  margin-left: 40px;
  font-size: 25px;
  line-height: 25px;
  color: white;
  font-weight: 700;
  
}

.logo_dot {
  display: flex;
  margin: auto;
  color: #f06c64;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 372px;
    margin-right: 40px;
    margin-top: 10px;
    line-height: 25px;
}

.nav_list {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.nav_dot {
  display: flex;
  align-items: center;
  margin-top: -9px;
  color: white;
  font-weight: 400;
}
  
.wrapper_slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(199, 95, 34);
  border-bottom: rgb(234, 103, 107) 6px solid;
  height: 594px;
}

.images {
  display: flex;
  flex-direction: row;
  width: 797px;
  margin-top: 10px;
  margin-right: 41px;
  justify-content: space-between;
  align-items: center;
}

.arrow_left {
  margin-left: 42px;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow_right {
  transform: rotate(180deg);
  margin-right: 40px;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper_services {       
  margin-left: 40px;
  margin-top: 6px;
  height: 429px;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 30px;
  border-bottom: rgb(234, 103, 107) 6px solid;
}

.services_header {
  margin-bottom: 18px;
  letter-spacing: -0.1px; 
  font-size: 30px;
  font-weight: 900;
   
}

.services p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.service_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-top: 36px;
}

.service_types {
  display: flex;
  flex-direction: row;
  width: 300px;  
  height: 90px;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 33px;
}

.service_text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 216px;
  height: 110px;
}

.service_text h3 {
  font-size: 18px;
  font-weight: 700;
  margin: auto;
  margin-top: 6px;
  margin-left: 1px;
  height: 20px;
}

.service_text p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px; 
}